.initiatives{
    padding: 20px 15px 5%;
}

.init-wrap{
    padding: 20px;
    display: flex;
}
.init-info{
    width: 60%;
    padding: 0 20px;
}
.init-img{
    width:40%;
}
.init-img img{
    width: 100%;
}
h2{
    color: #AC2A36;
}
.init-info ul li{
    margin-bottom: 10px;
}
.init-info ul li{
    /* background-color: thistle; */
}