.initiatives{
    padding: 20px 15px 5%;
}

.init-wrap{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
hr{
    border: 1px solid #8AC7BB55  ;

}
.init-info{
    width: 60%;
    padding: 0 20px;
}
.init-img{
    width:40%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}
.init-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h2{
    color: #AC2A36;
}
.init-info ul li{
    margin-bottom: 10px;
}
.init-info ul li{
    /* background-color: thistle; */
}