.about{
    padding: 20px 15px 5%;
}

.about ul{
    list-style-type: decimal;
    padding: 20px;
}
.about ul li{
    padding: 10px;
    background: #497aa033
}

.about ul li:nth-child(even){
    background: #497aa011
}