
a{
    color: #60B8B3;
}
.banner-img-wrap, .banner-overlay, #intro-row, .banner, .banner-overlay2{
    width:100%;
    height: 70vh;
    /* min-height: 700px; */
    position: absolute;
    top: 0;
    left: 0;
}
.banner{
    position: relative;
    /* height: auto; */
}
#intro-row{
    /* height: auto; */
    overflow: scroll;
}
.banner-img-wrap{
    position: absolute;
    background: #9da0a166;
    opacity: 1;
    background-blend-mode: multiply;
    background-image: url("../../img/home-banner.jpg");
    background-size: cover;
    background-position: 50% 10%;
}
.banner-overlay{
    position: absolute;
    background: linear-gradient(0deg, rgba(255,255,255,0.2) 0%, rgba(19,110,143,0.3) 60%);;
    opacity: 1;
}
.banner-overlay2{
    position: absolute;
    background: linear-gradient(0deg, #497aa055 0%, rgba(255,255,255,0.2) 100%);;
    opacity: 1;
}

#intro-row{
    position: absolute;
    z-index: 2;
    padding: 20px 10%;
    color:#fff
}

#intro-desc{
    background: #136e8faa;
    padding: 20px;
    color: #fff;
}
.page-row-1{
    position: relative;
    width: 70%;
    margin: auto;
    padding: 50px 5%;
    margin-top: -35vh;
    background: #fff;
    z-index: 100;
    min-height: 35vh;
    padding-bottom: 100px;
}
.about-part{
    margin-bottom: 40px;
}

.about-part h2{
    color: #bd4630;
    font-weight: 500;
}
.diagram{
    padding: 50px;
    width: 100%;
}

.structure ul{
    list-style-type:none ;
    padding: 0;
}
.structure li{
    padding: 10px 20px;
    background: #60B8B310;
    max-width: 900px;
    margin: auto;
}

.structure li:nth-child(even){
    background: #497aa030;
}







.flourish-credit{
    opacity: 0;
    /* color: red; */
}

.overview-ad{
    padding: 50px;
    /* background: radial-gradient(circle, rgba(38,75,88,1) 0%, rgba(0,63,92,0) 75%); */

}
.overview-ad img{
    width: 100%;
}
.overview-link{
    margin:auto;
    width: 100px;
    text-align: center;
    color: #fff;
    
}
.overview-link h3{
    font-weight: 100;
    background-color: #60B8B3aa;
    border-radius: 10px;
    padding: 20px 10px;
    font-size: 18px;
    text-transform: uppercase;
    max-width:300px;
    width: 100%;
    min-width: 200px;
    margin: auto;

}
.overview-link:hover{
    color: #fff;
    text-decoration: none;
}
.overview-link:hover h3{
    background-color: #60B8B3;
}
.row{
    margin:0;
    padding: 20px 15%;
}

.overview-row h1{
    font-size: 42px;
    padding: 20px;
    text-align: left;
    text-transform: uppercase;
    max-width: 700px;
}

.overview-row .overview-text{
    text-align: center;
}
.overview-text button{
    padding: 20px 50px;
    background-color: #fff;
    color: #bd4630;
    border-radius: 20px;
    border:1px solid #bd4630;
    transition: 0.2s all ease-in-out;
    font-weight: 500;
}
.overview-text button:hover{
    background-color: #bd4630cc;
    color: #fff;
}
img{
    max-width: 100%;
}
.int-map{
    padding: 40px;
}
.init-wrap{
    flex-wrap: wrap;
}
.init-wrap a{
    width: 30%;
    min-width: 300px;
    flex-grow: 1;
    padding: 10px;
}
.init-card{
    position: relative;
    height: 400px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    
}
.init-card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}
.init-card .init-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: linear-gradient(180deg, rgba(96,184,179,0.6) 0%, rgba(255,255,255,0) 100%);

}
.init-card h2{
    position: absolute;
    padding: 20px;
    font-weight: 200;
    max-width: 500px;
    z-index: 4;
    top: 0;
    color: #fff
}

.init-row{
    background-color: #60B8B322;
    padding-bottom: 100px;
    margin-bottom: 5px;
}

h1.init-title{
    z-index: 200;
    color: #fff;
    background: #60B8B3;
    text-shadow: 0 0 1px #fff;
    border-left: 3px solid #AC2A36;
    padding: 0 15px;
    margin: 5% 0;
    width: fit-content;
}

.init-card:hover img{
    transform: scale(1.1);
}

.init-card:hover{
    border: 1px solid #bd4630;
    border-radius: 5px;
}