*{
    font-family: 'benton-sans', sans-serif;
}
a{
    color: #AC2A36;
}
a:hover{
    color: #60B8B3;
}
html, body{
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}
body{
    display: flex;
    flex-direction: column;
}
#content{
    flex: 1 0 auto;
    position: relative;
}
footer{
    flex-shrink: 0;
    z-index: 111;
}
.page-row{
    width: 70%;
    margin: auto;
    max-width: 1200px;
}
h1.page-title{
    position: absolute;
    left: 20%;
    top:23vh;
    z-index: 200;
    color: #fff;
    background: #60B8B3;
    text-shadow: 0 0 1px #fff;
    border-left: 3px solid #AC2A36;
    padding: 0 15px;
    /* font-weight: 500; */
}
h1.page-title-noBanner{
    z-index: 200;
    color: #fff;
    background: #60B8B3;
    text-shadow: 0 0 1px #fff;
    border-left: 3px solid #AC2A36;
    padding: 0 15px;
    margin-top: 5%;
    width: fit-content;
}
.page-row p{
    font-size: 18px;
}
p.intro {
    font-size: 24px;
}
nav.navbar{
    /* flex-wrap: nowrap; */
}

ul.navbar-nav{
    width: fit-content;
    text-align: right;
}
.navbar-toggler{
    padding: 0;
}

.navbar-toggler-icon:focus, .navbar-toggler:focus, .navbar-toggler:hover{
    outline: none;
}
ul a{
    color: #111;
}
ul a:hover{
    color: #60B8B3;
}
.dropdown-toggle::after{
    display: none;
}

.nav-item, ul.navbar-nav{
    transition: all 0.3s ease-in-out
}




@media only screen and (min-width: 992px) {
    ul.navbar-nav li.dropdown:hover .dropdown-menu {
        display: block;
    }
}



.navbar .dropdown-menu {
    margin-top: 0px;
}
.dropdown-item:active{
    background: #ddd;
}
.dropdown-item:hover{
    color: #60B8B3;
    
}
h1{
    /* font-family: 'halyard-display',sans-serif; */
    font-weight: 100;
    font-size: 70px;
    line-height: 1.1em;
}
h2{
    font-weight: 900;
}
h3{
    /* font-family: 'halyard-display',sans-serif; */
    font-weight: 500;
}
p{
    font-weight: 200;
}
#nav-icon{
    width: 250px;
    margin: 0;
}
#nav-icon img{
    width:100%;
    
}
header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 20vh;
    padding: 20px 10%;
    position: relative;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid #eee;
    /* padding-top:50px; */
}
footer{
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.footer-row{
    padding: 40px 10% 20px;
    width: 100%;

}
.footer-logos img{
    width: 100%;
}
.foot-logo{
    width: 200px;
    margin: 0 20px;
}
.dshs-logo{
    width:250px;
}
.footer-logos{
    padding-bottom: 10px;
}
.footer-row p{
    text-align: center;
    color: #222;
    /* padding: 20px; */
}
.footer-row p a{
    color: #60B8B3;
}



.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
  
  
@keyframes slideIn {
0% {
    transform: translateY(1rem);
    opacity: 0;
}
100% {
    transform:translateY(0rem);
    opacity: 1;
}
}

@-webkit-keyframes slideIn {
100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
}
0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
}
}

.slideIn {
-webkit-animation-name: slideIn;
animation-name: slideIn;
}


ul.myList{
    list-style-type:none ;
    padding: 0;
    margin: 30px 0;
}
ul.myList li{
    padding: 10px 20px;
    background: #60B8B310;
    max-width: 900px;
    margin: auto;
}

ul.myList li:nth-child(even){
    background: #60B8B330;
}

ul.numlist{
    list-style-type: decimal;
}
ul.numlist li{
    padding: 10px;
}

#uts-bar{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    background: linear-gradient(0deg, #60B8B3 0%, #193a66 50%);;
    ;
    padding: 5px 10%;
    padding-bottom: 6px;
    border-bottom: 1px solid #f47b20;
}
#uts-bar img{
    width: 240px;
}