.webinars{
    padding: 20px 15px 5%;
}
.series{
    padding: 20px 10px;
    /* width: 50%; */
}
.series h2{
    color: #60B8B3;
    font-weight: 500;
}
.series h2 span{
    font-weight: 500;
}
.series a{
    display: flex;
    width: 50%;
    padding: 0 10px;
}
.series a p{
    padding: 10px 10px;
    align-self: center;
    width: fit-content;
    /* max-width: 300px; */
}
.actions{
    display: flex;
    flex-wrap: wrap;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
}
.series a .icon{
    font-size: 48px;
    color: #193a66;
    align-self: center;
    width: 50px;
}

.series a:hover .icon{
    color: #193a66bb;
}
.series a:hover{
    color: #193a66bb;
}
iframe{
    border: none;
}

hr{
    margin: 20px 0;
}

.webinars-archived{
    padding: 20px 5px;
}
.webinar-wrap h2{
    color: #193a66;
    font-weight: 600;
    font-size: 18px;
}
.webinar-wrap{
    /* margin-bottom: 10px; */
    border-bottom: 1px solid #60B8B399;
    padding: 20px 15px;
}
.webinar-wrap:hover{
    background-color: #eeeeee55;
}
.webinar-wrap p{
    margin-bottom: 5px;
    margin-right: 20px;
}
.webinar-wrap p i{
    color: #193a66;
}
.webinar-wrap .links{
    display: flex;
}
/* .webinar-vid{
    margin-bottom: 20px;
}
.vid-wrap{
    position: relative;
    padding-bottom: 57%;
}
.webinar-vid iframe{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #000;
} */