.webinars{
    padding: 20px 15px 5%;
}
.series{
    padding: 20px 10px;
    /* width: 50%; */
}
.series h2{
    color: #60B8B3;
    font-weight: 500;
}
.series h2 span{
    font-weight: 500;
}
.series a{
    display: flex;
}
.series a p{
    padding: 10px 10px;
    align-self: center;
    width: fit-content;
    /* max-width: 300px; */
}
.actions{
    display: flex;
    flex-wrap: wrap;
}
.series a .icon{
    font-size: 48px;
    color: #193a66;
    align-self: center;
    width: 50px;
}

.series a:hover .icon{
    color: #193a66bb;
}
.series a:hover{
    color: #193a66bb;
}